---
// 路线图标签组 多个标签
import FeaturedItem, { type FeaturedItemType } from "./FeaturedItem.astro";

export interface Props {
  featuredItems: FeaturedItemType[];
  heading: string;
  // allowBookmark?: boolean;   //可标记
}

// const { featuredItems, heading, allowBookmark = true } = Astro.props;
const { featuredItems, heading } = Astro.props;
---

<div class="relative border-b border-b-[#2a3a5a] py-12 sm:py-16">
  <div class="container">
    <h2
      class="text-md font-medium absolute -top-[17px] flex rounded-lg border border-[#2a3a5a] bg-[#162240] px-4 py-1.5 text-slate-300 sm:left-1/2 sm:-translate-x-1/2"
    >
      {heading}
    </h2>

    <ul class="mx-auto grid max-w-4xl grid-cols-1 gap-4 text-center sm:grid-cols-2 md:grid-cols-3">
      {
        featuredItems.map((featuredItem) => (
          <li class="flex justify-center">
            <FeaturedItem text={featuredItem.text} url={featuredItem.url} />
          </li>
        ))
      }
    </ul>
  </div>
</div>
