---
// import FeaturedVideos from "../components/FeaturedVideos.astro";     //学习视频 --bilibili&MOOC
import FeaturedItems from "../components/FeaturedItems/FeaturedItems.astro"; // 路线图标签
import HeroSection from "../components/HeroSection/HeroSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro"; // 首页布局
// import { getAllBestPractices } from "../lib/best-practice";    // 最佳实践--就业&项目
import { getRoadmapsByTag } from "../lib/roadmap.ts";
// import { getAllVideos } from "../lib/video";   //【保留】 视频
import { getAllQuestionGroups } from "../lib/question-group"; //【保留】 问题

// 最佳实践
// const bestPractices = await getAllBestPractices();
const skillRoadmaps = await getRoadmapsByTag("skill-roadmap");
const questionGroups = await getAllQuestionGroups();
// 对获取到的questionGroups数据进行过滤，只保留authorId不为空的项
const questionGuides = (await getAllQuestionGroups()).filter(
  (questionGroup) => questionGroup.frontmatter.authorId
);
---

<BaseLayout
  title="学习者路线图 - Dungeons"
  description={"Community driven roadmaps, articles and guides for developers to grow in their career."}
  permalink={"/"}
>
  <div class="bg-white">
    <HeroSection />

    <div class="border-t border-slate-100">
      <!-- 路线图目录 -->
      <FeaturedItems
        heading="Skill based Roadmaps"
        featuredItems={skillRoadmaps
          .filter((roadmapItem) => !roadmapItem.frontmatter.isHidden)
          .map((roadmapItem) => ({
            text:
              roadmapItem.frontmatter.briefTitle === "Go"
                ? "Go Roadmap"
                : roadmapItem.frontmatter.briefTitle,
            url: `/${roadmapItem.id}`,
          }))}
      />

      <!-- 最佳实践模块 -->
      <!-- <FeaturedItems
        heading="Best Practices"
        featuredItems={bestPractices.map((bestPractice) => ({
          text: bestPractice.frontmatter.briefTitle,
          url: `/best-practices/${bestPractice.id}`,
          isNew: bestPractice.frontmatter.isNew,
          isUpcoming: bestPractice.frontmatter.isUpcoming,
        }))}
      /> -->

      <!-- 问题模块 -->
      <div class="border-t border-slate-100">
        <FeaturedItems
          heading="Questions"
          featuredItems={questionGroups.map((questionGroup) => ({
            text: questionGroup.frontmatter.briefTitle,
            url: `/questions/${questionGroup.id}`,
          }))}
        />
      </div>
    </div>
  </div>
</BaseLayout>
