---
import AstroIcon from "./AstroIcon.astro";
import Icon from "./AstroIcon.astro";
---

<!-- 页面脚部模块 -->
<div class="border-t border-slate-200 bg-gradient-to-r from-[#f8fafc] via-[#e2e8f0] to-[#cbd5e1]">
  <div class="container">
    <div class="flex flex-col items-center justify-between gap-12 py-8 sm:flex-row sm:gap-0 sm:py-12">
      <div class="flex flex-col items-start gap-4">
        <a href="/" class="text-lg font-medium text-gray-700">
          <Icon icon="logo" />
        </a>

        <p class="max-w-[365px] text-sm text-gray-700">
          构建"职业技能-学习者-教育资源"知识图谱<br/>
          构建以技能为主的多元学习者特征画像<br/>
          结合职业技能导向实现个性化教育资源推荐与学习路径规划
        </p>

        <div class="flex items-center gap-2">
          <a
            href="https://twitter.com/roadmapsh"
            target="_blank"
            class="text-gray-700 hover:text-gray-900"
          >
            <Icon icon="twitter" />
          </a>
          <a
            href="https://youtube.com/theroadmap"
            target="_blank"
            class="text-gray-700 hover:text-gray-900"
          >
            <Icon icon="youtube" />
          </a>
          <a
            href="https://github.com/kamranahmedse/developer-roadmap"
            target="_blank"
            class="text-gray-700 hover:text-gray-900"
          >
            <Icon icon="github" />
          </a>
        </div>
      </div>

      <div class="max-w-[365px] text-left sm:text-right">
      </div>
    </div>
  </div>
</div>
